@font-face {
    font-family: "Fibography";
    src: url(./fonts/Fibography.ttf);
}

body {
    margin: 0;
    background-color: rgb(39, 39, 39);
}

.main {
    display: flex;
    width: 100vw;
}

.left-bar {
    display: flex;
    flex-direction: column;
    background-image: url(./images/sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    min-width: 40vw;
    min-height: 100vh;
}

input, label {
    display: block;
}

label {
    font-size: 0.65rem;
    font-family: "Helvetica";
    color: darkslategrey;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8vw;
    width: 100%;
    row-gap: 2rem;
}

form input {
    width: 15vw;
    padding: .25rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 2rem;
    padding-bottom: 3rem;
    display: flex;
    background-color: white;
}

.form-header {
    margin: 0;
    padding-bottom: 1rem;
    font-weight: bold;
}

img {
    height: 7rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    margin-top: 10.5%;
    background-color: rgba(0,0,0,0.15);
    color: rgb(11, 50, 107);
    flex-shrink: 100px;
}
.information {
    display: flex;
    background-color: rgb(236, 236, 227);
    padding: 2em;
    padding-right: 15rem;
}

h1 {
    font-family: "Fibography";
    font-size: 4rem;
    min-width: 0;
    flex-shrink: 2;
}


.right-content {
    width: 67vw;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 4px 5px 8px rgba(0,0,0,0.11);
}



h2 {
    margin-bottom: 4rem;
    font-family: 'Helvetica';
}

p {
    font-family: 'Helvetica';
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(11, 50, 107);
}

#create-account {
    background-color: lightsteelblue;
    width: fit-content;
    padding: 14px 18px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

#create-account:hover {
    background-color: white;
    cursor: pointer;
}

.create {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 227);
    padding: 2rem;
    padding-bottom: 0;
    flex: 1;
}

@media (max-width: 800px) {

    .main {
        flex-direction: column;
    }

    .left-bar {
        min-height: fit-content;
        margin-top: 0;
        padding-top: 0
    }

    .logo {
        padding-top: 0;
        margin-top: 0;
    }

    .right-content {

        width: 100%;
    }

    .information {
        padding: 2em;
        padding-bottom: 0;
    }
}